<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.quiz_master_backend.mapper.CategoryMapper">
    <select id="selectAll" resultType="com.ncu.quiz_master_backend.entity.Category">
        select * from tb_category
        <where>
            <if test="categoryName!=null and categoryName!=''">
                category_name like concat('%',#{categoryName},'%')
            </if>
        </where>
        order by category_id
    </select>


</mapper>
