<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.quiz_master_backend.mapper.FavouriteMapper">
    <select id="selectAll" resultType="com.ncu.quiz_master_backend.entity.FavoriteQuestion">
        select * from tb_favorite
        <where>
            <if test="userId!=null">
                and user_id = #{userId}
            </if>
            <if test="questionId!=null">
                and question_id = #{questionId}
            </if>
        </where>
        order by favorite_id
    </select>
</mapper>
